// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables
$charcoal: #454a53;
$medium-grey: #b4b5b9;
$white: #fff;
$off-white: #E0E0E0;
$tan: #B5ADA6;
$teal: #426670;
$dark-teal: #334E59;
$light-teal: #598f9e;
$orange: #ED6F5E;
$light-orange: #ff8170;

$body-font: 'Slabo 27px', sans-serif;
$header-font: 'Passion One', gobold, impact, sans-serif;

$xl-font-size: 1.5rem;
$lg-font-size: 1.25rem;
$md-font-size: 1.15rem;
$sm-font-size: 1rem;
$xs-font-size: 0.85rem;

$xxl-screen: 120.07em;
$xl-screen: 80em;
$lg-screen: 64em;
$md-screen: 48em;
$sm-screen: 30em;
$xs-screen: 20em;

$container-xxl: 119rem;
$container-xl: 79rem;
$container-lg: 63rem;
$container-md: 47rem;
$container-sm: 100%;

$small-container-xxl: 100rem;
$small-container-xl: 65rem;
$small-container-lg: 54rem;
$small-container-md: 40rem;
$small-container-sm: 100%;

$nav-width: 60px;

@font-face {
  font-family: gobold;
  src: url("/carriage-house-grav/user/themes/carriagehouse/fonts/GoboldRegular.ttf");
}
