//-------------------------------------
// Landing
//-------------------------------------

.landing {
  text-align: center;
  padding: 2em;

  @media (min-width: $md-screen) {
    padding: inherit;
    margin-top: 0.25em;
  }

  &__image {
    @include border-radius(50%);
    max-height: 18em;

    @media (min-height: $md-screen) {
      max-height: 15em;
    }
    @media (min-height: $xl-screen) {
      max-height: 18em;
    }
    @media (min-height: $xxl-screen) {
      max-height: 27em;
    }
  }
}

.icon-link {
  display: block;
  margin: 2em 0;

  &__icon {
    width: 100%;
    height: 100%;
    max-width: 12.5rem;
    fill: $off-white;
    @include transition(fill 500ms);

    @media (min-width: $xxl-screen) {
      max-width: 20rem;
    }
  }

  &__title {
    margin: 0;
  }

  &:hover {
    .icon-link__icon {
      fill: white;
    }
  }

  @media (min-width: $md-screen) {
    margin: inherit;
  }
}
